@model IEnumerable<CarGarageParkingApp.Models.Owner>

@{
	ViewData["Title"] = "Hello Owner";
}

<form asp-action="Index" asp-controller="Owner" method="get">
	<label for="firstName">First name:</label>
	<input type="text" id="firstName" name="firstName" placeholder="Enter first name" value="@Context.Request.Query["FirstName"]" />

	<label for="lastName">Last name:</label>
	<input type="text" id="lastName" name="lastName" placeholder="Enter last name" value="@Context.Request.Query["LastName"]" />

	<label for="numberOfVehicles">Number of vehicles</label>
	<input type="number" id="numberOfVehicles" name="numberOfVehicles" placeholder="Enter number of vehicles" step="1" min="0" value="@Context.Request.Query["NumberOfVehicles"]" />

	<button type="submit" class="btn btn-primary">Search</button>
</form>

<h1>Collection of owners</h1>

<div>
	@foreach (Owner singleOwner in Model)
	{
		<div class="owner-card-look">
			<h2>Name: @singleOwner.FirstName</h2>
			<h3>Last Name: @singleOwner.LastName</h3>
			<p>Number of cars: @singleOwner.Vehicles.Count()</p>
			<a href="@Url.Action("Details", "Owner", new { id = singleOwner.OwnerId })">Details</a>
		</div>
	}
</div>

<style>
	.owner-card-look {
		border: 1px solid gray;
		border-radius: 15px;
		margin: 10px;
		padding: 15px;
		background-color: cadetblue;
		color: white;
	}

		.owner-card-look a {
			color: yellow;
			text-align: center;
			text-decoration: none;
			font-weight: bold;
			text-transform: uppercase;
		}

			.owner-card-look a:hover {
				color: white;
				text-align: center;
				text-decoration: none;
				font-weight: bold;
				text-transform: lowercase;
			}
</style>